<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YADARA Automation Test Suite">

	<listeners>
		<listener class-name="com.yadara.ExtentReportsListener.ExtentReportsListener" />
	</listeners>
	<test name="Checkout Test Cases">
		<classes>
			<class name="com.yadara.testcases.LoginTC01"></class>
			<class name="com.yadara.testcases.CheckoutTestcases"></class>
			

		</classes>
	</test>
</suite>